{% extends 'pizzas/base.html' %}




{% block content %}

<div class="col-lg-2 mx-auto p-0 shadow mt-5 mb-10 "style="margin-bottom: 9rem;">

    <div class="alert alert-warning text-center">
        <h2>Giriş Yap</h2>
    </div>

    <div class="p-4 d-flex align-items-center mb-10 ">
        
        <form action="" method="POST">
            {% csrf_token%} 
            {{ form }}
            <hr>
            <input type="submit" value="Giriş Yap" class="btn btn-success">
        </form>

    </div>
</div>

{% endblock content %}
    