{% load static %}
<footer class="text-center text-white " style="background-color: #caced1;">
  <!-- Grid container -  ->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row mx-1 d-flex flex-wrap">
        
        <div class="col-lg-4 col-md-12 col-xl-3 col-xxl-2 mb-4 mb-md-5 mt-lg-3">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://cdn.yemek.com/mncrop/620/388/uploads/2016/01/islak-kurabiye-tarifi-son.jpg"
              class="w-100 rounded img "
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-xxl-2 col-md-12 mb-4 my-md-5 mt-lg-3">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://i2.milimaj.com/i/milliyet/75/0x410/5ec6865c55427f02207cc3c3.jpg"
              class="w-100 rounded img"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xl-3 col-xxl-2 mb-4 mb-md-5 mt-lg-3">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://cdn.yemek.com/mnresize/940/940/uploads/2018/07/kuru-mayali-pogaca-one-cikan.jpg"
              class="w-100 rounded img "
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xl-3 col-xxl-2 mb-4 mb-md-5 mt-lg-3">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://i.ytimg.com/vi/cAMQN5LjrgA/maxresdefault.jpg"
              class="w-100 rounded  img "
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xl-3 col-xxl-2 mb-4 mb-md-5 mt-lg-3">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://img.internethaber.com/rcman/Cw480h270q95gc/storage/files/images/2019/11/14/hazir-yufkadan-kolay-kiymali-su-bo-XDvx_cover.jpg"
              class="w-100 rounded img"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xl-3 col-xxl-2 mt-sm-3 mb-md-5 mt-lg-3">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://www.savoypastanesi.com/wp-content/uploads/2020/02/peynirli-su-boregi.jpg"
              class="w-100 rounded img"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 fs-3 " style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://er-tad.com/">er-tad.com</a>
  </div>
  <!-- Copyright -->
</footer>