{% load static %}


    <!-- navabar start -->
    <nav class="navbar navbar-expand-lg navbar navbar-white">
        <div class="container-fluid ">
            <a class="navbar-brand alert-warning" href="/">
            <img src="{% static 'images/home.png' %}" alt="Hi!" width="120" height="80" class="rounded" ></a>
            
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ms-auto">       

                    <li class="nav-item"><a class="nav-link text-danger fs-3 " href="{% url 'pizzas' %}">Ürün Çeşitlerimiz</a></li>
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-danger fs-3 " href="{% url 'my_orders' %}">Siparişlerim</a></li>
                        <li class="nav-item"><a class="nav-link text-danger fs-3 " href="{% url 'user_logout' %}">Çikiş Yap</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link text-danger fs-3 " href="{% url 'user_login' %}">Giriş Yap</a></li>
                        <li class="nav-item"><a class="nav-link text-danger fs-3 " href="{% url 'register' %}">Kayit Ol</a></li>
                    {% endif %}

                </ul>
            </div>
    </nav>